  <div id="gitment_thread"></div>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/theme-next/theme-next-gitment@1/default.css"/>
  <script src="https://cdn.jsdelivr.net/gh/theme-next/theme-next-gitment@1/gitment.browser.js"></script>
  <script>
    var gitment = new Gitment({
      id: '{{ page.id }}',
      owner: '{{ Mirko-r }}',
      repo: '{{ https://github.com/Mirko-r/blog }}',
      oauth: {
        client_id: '{{ fdf50f4036e2b08d9738 }}',
        client_secret: '{{ 56163942eb91b7e05defb838873d2d89bed8f342 }}',
      },
    });
    gitment.render('gitment_thread')
  </script>
