---
layout: framework
sidebar: tag-list
---

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-FTDEGKFW7C"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-FTDEGKFW7C');
</script>

{%- if site.posts.size > 0 -%}

  {%- include functions.html func='log' level='debug' msg='Get tags value' -%}
  {%- include functions.html func='get_tags' -%}
  {% assign tags = return %}

  {% assign keys = tags %}
  {% assign field = 'tags' %}
  {%- include views/segments.html -%}

{%- endif -%}
